/* 
    main.css - General reset and layout styles
    By Isaac Ingles

    I have included comments throughout to demonstrate my knowledge of 
    CSS and general best practices (so far as I am aware, it's been 8 years).

    CSS "cascades", meaning that styles at the bottom of the stylesheet take 
    precedence over styles at the top -- excepting  styles labeled with "!important", 
    or inline styles; neither of which I would use unless absolutely necessary.
    (This is of course challenged by the patterns seen in many modern front-end 
    JS frameworks, where much of the styling is done inline; but lets keep things
    simiple, shall we?)
*/

/* 
    REM font size reset, so that I only have to deal with multiples of 10
    for responsive sizes. (REM = "Root Element")

    Also add a smooth scroll behavior because aesthetics.
*/

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/* 
    General resets (Just cause I don't want to wrestle with stupid stuff) 
    This takes the default paddings, margins, etc off of things so I can just define 
    them on my own.

    Based on meyerweb.com/eric/tools/css/reset (v2.0 | 20110126 | License: public domain) 
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1.9;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    -webkit-text-size-adjust: none;
}

mark {
    background-color: transparent;
    color: inherit;
}

input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input, select, textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
}

/* 
    Font Stack, additional/general body styles
    (for fonts, the browser will try to load the first font specified,
    and continue down the line until it finds the first one that it can use).
*/

body {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 1.4rem;
    background: #f4ffc5;
}

p {
    line-height: 1.9rem;
}

.noselect {
    user-select: none;
}

/* 
    Layout

    I'm using Bootstrap class names, mostly because they make the most sense as far,
    as semantic layout design; but also so that you can sort of understand what I'm 
    trying to do with them (assuming you're familiar with Bootstrap).  

    I'm going to do my layout with a "mobile first" approach, meaning I'm going to design
    with min-widths for my media queries and most of my default CSS is going to be
    geared towards smaller screens.  Once again, I'll use the same breakpoints as Bootstrap,
    to try and make things consistent.

    I'm doing things this way in part to make it easier to manage in the long run, and in part
    to challenge myself to see how well I can build a responsive layout all on my own.
*/

/* Clearfix Hack -- Yes, I used floats. */

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Flexbox */

.d-flex {
    display: flex;
}

.align-self-end {
    align-self: end;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-wrap {
    flex-wrap: wrap;
}

.align-self-start {
    align-self: flex-start
}

.align-self-center {
    align-self: center;
}

.align-self-end {
    align-self: flex-end
}

.align-start {
    align-items: flex-start;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

.fg-1 {
    flex: 1;
}

.fg-2 {
    flex: 2;
}

.fg-3 {
    flex: 3;
}

.fg-4 {
    flex: 4;
}

.od-1 {
    order: 1;
}

.od-2 {
    order: 2;
}

.od-3 {
    order: 3;
}

.od-4 {
    order: 4;
}

.justify-start {
    justify-content: flex-start;
}

.justify-center {
    justify-content: center;
}

.justify-right {
    justify-content: right;
}

.justify-end {
    justify-content: flex-end;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-evenly {
    justify-content: space-evenly;
}

.justify-self-end {
    justify-content: flex-end;
}

/* Z-Indexes -- Keep desired elements "on top" */

.z-fixed {
    z-index: 1030;
}

/* Headings */

h1 {
    font-size: 3.2rem;
    margin: 1rem 0;
    line-height: 1;
}

h2 {
    font-size: 2.4rem;
    margin: .5rem 0;
}

h3 {
    font-size: 2rem;
    margin: .5rem 0;
}

h4 {
    font-size: 1.8rem;
    margin: .5rem 0;
}

/* Navbar */

.navbar {
    width: 100%;
    padding: 1.5rem;
    color: #fff;
    background: #000;
    box-shadow: 1px 1px 1px #000;
}

.navbar.fixed {
    position: fixed;
}

.navbar a {
    padding: 1rem;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.navbar a:hover {
    background: #ccc;
    color: #000;
}

.navbar .menu-items {
    background: #000!important;
    position: absolute;
    top: 3rem;
    left: 0;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.25s ease-out;
    -moz-transition: opacity 0.25s ease-out;
    -o-transition: opacity 0.25s ease-out;
    transition: opacity 0.25s ease-out;
}

.top-hamburger {
    position: absolute;
    top: 1rem;
    right: 4rem;
    cursor: pointer;
}

.show {
    width: 100%;
    text-align: center;
    background: #000;
    visibility: visible!important;
    opacity: 1!important;
    -webkit-transition: opacity 0.33s ease-out;
    -moz-transition: opacity 0.33s ease-out;
    -o-transition: opacity 0.33s ease-out;
    transition: opacity 0.33s ease-out;
}

/*
    Navbar media queries
*/

@media screen and (min-width: 992px) {
    .navbar {
        padding: 0;
        justify-content: center;
    }
    .top-hamburger {
        display: none;
    }
    .navbar .menu-items {
        position: static;
        visibility: visible;
        flex-direction: row;
        opacity: 1;
    }
}

/* @media screen and (min-width: 1200px) {
    .navbar {}
    .top-hamburger {
        display: none;
    }
    .navbar .menu-items {
        position: static;
        visibility: visible;
        flex-direction: row;
    }
} */

/* Containers - generic container elements  */

.container {
    width: 95%;
    margin: 0 auto;
}

.container.fluid {
    width: 100%;
    margin: 0;
}

/*
    Container media queries
*/

@media screen and (min-width: 576px) {
    .container {
        width: 80%
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 70%
    }
}

@media screen and (min-width: 992px) {
    .container {
        width: 80%
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 80%
    }
}

/* 
    Jumbotrons
*/

.jumbotron {
    padding: 4rem 1rem;
}

/*
    Jumbotron media queries
*/

.jumbotron.top {
    padding-bottom: 2rem;
}

.jumbotron.dark {
    background: #374b9b;
    color: #fff;
}

.hero {
    font-size: 3rem;
    font-weight: 700;
}

.dark a {
    color: #ff9100;
}

.dark a:visited {
    color: #e7bd32;
}

/* 
    Jumbotron media queries
*/

@media screen and (min-width: 576px) {
    .hero {
        font-size: 3.2rem;
    }
}

@media screen and (min-width: 768px) {
    .hero {
        font-size: 4.8rem;
    }
}

@media screen and (min-width: 992px) {
    .hero {
        font-size: 5.2rem;
    }
}

@media screen and (min-width: 1200px) {
    .hero {
        font-size: 5.6rem;
    }
}

/* 
    Section Headers
*/

.section-header {
    margin-bottom: 2rem;
}

/* 
    Code blocks
*/

pre.code-block {
    background: #cfcfff;
    margin: 2rem 0;
    padding: 1rem;
}

.dark pre.code-block {
    background: #000;
    color: rgb(241, 191, 81);
}

code {
    background: #cfcfff;
    font-family: 'Fira Code', 'Lucida Console', monospace;
    font-size: .65rem;
}

.dark code {
    background: #000;
    color: rgb(241, 191, 81);
}

/* 
    code Media Queries
*/

@media screen and (min-width: 576px) {
    code {
        font-size: .68rem;
    }
}

@media screen and (min-width: 768px) {
    code {
        font-size: .8rem;
    }
}

@media screen and (min-width: 992px) {
    code {
        font-size: .9rem;
    }
}

@media screen and (min-width: 1200px) {
    code {
        font-size: 1rem;
    }
}

code .comment {
    color: #57b33b;
}

.image-wrapper .img-one .img {
    background-image: url(../images/tim-berners-lee-200.jpg);
}

.image-wrapper .img-two .img {
    background-image: url(../images/Hakon-Wium-Lie-200.jpg);
}

.image-wrapper .img-three .img {
    background-image: url(../images/Brendan-Eich-200.jpg);
}

@media (min-width: 768px) {
    .image-wrapper .img-one .img {
        background-image: url(../images/tim-berners-lee-300.jpg);
    }
    .image-wrapper .img-two .img {
        background-image: url(../images/Hakon-Wium-Lie-300.jpg);
    }
    .image-wrapper .img-two .img {
        background-image: url(../imagesBrendan-Eich-300.jpg);
    }
}

@media (min-width: 992px) {
    .image-wrapper .img-one .img {
        background-image: url(../images/tim-berners-lee-400.jpg);
    }
    .image-wrapper .img-two .img {
        background-image: url(../images/Hakon-Wium-Lie-400.jpg);
    }
    .image-wrapper .img-three .img {
        background-image: url(../images/Brendan-Eich-400.jpg);
    }
}

.image-wrapper {
    margin: 1rem 0;
}

.image-wrapper.left {
    float: left;
    margin-right: 1rem;
}

.image-wrapper.right {
    float: right;
    margin-left: 1rem;
}

.img-desc {
    font-size: 0.9rem;
}

.box-wrapper {
    margin: 1rem 0;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff7700;
    height: 5rem;
    min-width: 5rem;
    margin: 0 1rem;
    padding: 1rem;
    border-radius: 1rem;
}

/* 

    Buttons

*/

.btn {
    display: inline-block;
    text-decoration: none;
    font-size: 1.2rem;
    text-align: center;
    padding: 0.5rem 1.5rem;
    text-transform: uppercase;
    border-radius: .3rem;
    border: none;
    box-shadow: 0 0 4px #999;
    background-position: center;
    cursor: pointer;
    outline: none;
    transition: background 0.4s;
}

.primary {
    color: #fff;
    background-color: #006aff;
}

.primary:hover {
    background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
}

.primary:active {
    background-color: #aecfeb;
    background-size: 100%;
    transition: background 0s;
}

#cardWrapper {
    display: flex;
    flex-direction: column;
}

.card {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #fff;
    box-shadow: 1px 1px 3px #ccc;
    margin: 1rem 0;
    border-radius: 6px;
}

.card-title {
    background: #0000ff;
    padding: 1rem 0.5rem;
    color: #fff;
    font-weight: bold;
    font-size: 1.8rem;
    border-radius: 6px 6px 0 0;
}

.card-body {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
}

.card.clickable {
    transition: background 0.4s;
    cursor: pointer;
}

.card.clickable:hover {
    background: #f1f1f1 radial-gradient(circle, transparent 1%, #f1f1f1 1%) center/15000%;
}

.card.clickable:active {
    background-color: #ccc;
    background-size: 100%;
    transition: background 0s;
}

@media screen and (min-width: 768px) {
    #cardWrapper {
        flex-direction: row;
    }
    .card {
        width: 50%;
        margin: 1rem;
    }
}

@media screen and (min-width: 992px) {
    .card {
        width: 25%;
    }
}

.main-footer {
    padding: 2rem;
    background: #252525;
    color: #fff;
}

.main-footer a {
    text-decoration: none;
    color: rgb(223, 108, 32);
}